doctype
html
    head
        script(src="/socket.io/socket.io.js")
        script(src="http://code.jquery.com/jquery-1.10.2.min.js")        
        script(src="/scripts/jquery.inputmask.js")

        script.
    
            //var socket = io.connect('http://localhost:3000');
            var socket = io.connect();
            $(function() {
                
                $("#phone_number").inputmask("mask", {"mask": "(999) 999-9999", "placeholder": " "});
                $("#code").inputmask("mask", {"mask": "999999", "placeholder": " "});

                $("#register_button").on("click", function(event) {
                event.preventDefault();
                socket.emit("register", {
                    phone_number: $("#phone_number").val()
                });
                });

                $("#verify_button").on("click", function(event) {
                event.preventDefault();
                socket.emit("verify", {
                    phone_number: $("#phone_number").val(),
                    code: $("#code").val()
                });
                });

                $("#unsubscribe_button").on("click", function(event){
                  event.preventDefault();
                  socket.emit("unsubscribe", {
                    phone_number: $("#phone_number").val()
                  });
                });

                socket.on("code_generated", function(data) {
                $("#register,#register_instructions,#update,#unsubscribe_button").fadeOut(function(){
                $("#verify_instructions").fadeIn(); 
                $("#verify").fadeIn();
                });
                //$("#register_instructions").fadeOut();
                //$("#update").fadeOut();
                });

                socket.on("update", function(data) {
                $("#update").html(data.message);
                $("#update").fadeIn();
                if(data.verified=="true"){$("#unsubscribe_button").fadeIn();}
                });

                socket.on("reset", function(data) {
                $("#verify_instructions").fadeOut();
                $("#update").fadeOut();
                $("#verify").fadeOut();
                $("#unsubscribe_button").fadeOut();
                $("#register_instructions").fadeIn();
                $("#register").fadeIn();
                });

                socket.on("verified", function(data) {
                $("#register").fadeOut();
                $("#verify").fadeOut();
                $("#register_instructions").fadeOut();
                $("#verify_instructions").fadeOut();
                });
            });
    body
        strong#update(style="display: none")
        form
          input(type="submit", value="Unsubscribe" style="display:none")#unsubscribe_button
        p#register_instructions To receive text messages from Upward Sports @ Severns Valley enter your phone number below.  You will receive a confirmation code.
        p#verify_instructions(style="display: none") Please enter your confirmation code.
        div#register
            form
                input(type="text", class="required phone")#phone_number
                input(type="submit", value="Register")#register_button
                input(type="hidden", value="")#txtHiddenPhoneNumber
        div#verify(style="display: none")
            form
                input(type="text")#code
                input(type="submit", value="Verify")#verify_button
